<h1> <a href="{{ .Permalink }}" class="title" title="{{ .Title }}">{{ .Title }}</a> </h1>
<footer class="post-info">
    <span class="post-meta">
        <span class="post-meta-time">
        <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "2006-01-02" }}
        </time>
        </span>
        <span class="post-meta-section">
        &middot; <a href="{{ .Site.BaseURL }}/{{ .Section }}">/{{.Section}}</a>
        </span>
        <span class="post-meta-tags">
        {{ if isset .Params "tags" }}
            {{ if gt (len .Params.tags) 0 }} &middot; {{ .Site.Data.l10n.article.tagged_in }}
            {
                {{ range $i, $v := .Params.tags }}
                    <a href="{{ $.Site.BaseURL }}/tags/{{ $v | urlize }}">{{ $v | lower }}</a>{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
                {{ end }}
            }
            {{ end }}
        {{ end }}
        </span>
		{{ if .IsPage }}
        <span class="post-meta-edit">
        &middot; <code>:e</code> <a href="//gitlab.com/{{.Site.Social.gitlab}}/i.got.nothing.to.blog/edit/master/content/{{ .Source.File.Path }}" class="icon-gitlab" target="_blank" title="Gitlab"></a>∨<a href="//github.com/{{.Site.Social.github}}/i.got.nothing.to.blog/edit/master/content/{{ .Source.File.Path }}" class="icon-github" target="_blank" title="Github"></a>
        </span>
		{{ end }}
    </span>
</footer>
