<footer class="main-footer">
  <div class="container clearfix">
        <p>&copy; {{ .Now.Format "2006" }} &middot; {{ .Site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<script src="{{ .Site.BaseURL }}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/vendor/highlight-8.8.0.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/vendor/emoji.js"></script>
<script src="{{ .Site.BaseURL }}/js/plugins.js"></script>
<script>
  // highlight js enable
    hljs.initHighlightingOnLoad();

    $('title-text').display = 'hidden';

  // show the cursor when in focus
  window.onfocus = function() {
    $('.blink-on').show()
    $('.blink-off').hide()
  };

  window.onblur = function() {
    $('.blink-on').hide()
    $('.blink-off').show()
  };

  // hide text
  var text = $('.title-text').text();

  // blink the cursor
  var length = text.length;
  var timeOut;
  var character = 0;

  (function typeWriter() {
      timeOut = setTimeout(function() {
          character++;
          var type = text.substring(0, character);
          $('.title-text').text(type);
          typeWriter();

          if (character == length) {
              clearTimeout(timeOut);
          }

      }, 200);
  }());

 // transform all unicode emojis into icon emojis
 $("div.container").emojify();
</script>

{{ with .Site.Params.google_analytics }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
  var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{{ end }}
</body>
</html>
