{{ if .IsPage }}
<h1>
    <a href="{{ .Permalink }}" class="title" title="{{ .Title }}">{{ .Title }}</a>
</h1>
{{ else }}
<h2>
    <a href="{{ .Permalink }}" class="title" title="{{ .Title }}">{{ .Title }}</a>
</h2>
{{ end }}
<footer class="post-info">
    {{ .Site.Data.l10n.article.posted_on }}
    <span class="post-meta">
        <span class="post-meta-time">
        <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "2006-01-02" }}
        </time>
        </span>
        <span class="post-meta-id">
        &middot; #<a href="{{ .Site.BaseURL }}/{{ .Permalink }}">{{ slicestr (.UniqueID) 0 6 }}</a>
        </span>
        <span class="post-meta-section">
        &middot; in <a href="{{ .Site.BaseURL }}/{{ .Section }}">/{{.Section}}</a>
        </span>
        <span class="post-meta-tags">
        {{ if isset .Params "tags" }}
            {{ if gt (len .Params.tags) 0 }}&middot; {{ .Site.Data.l10n.article.tagged_in }}
            [
                {{ range $i, $v := .Params.tags }}
                    <a href="{{ $.Site.BaseURL }}tags/{{ $v | urlize }}">{{ $v | lower }}</a>{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
                {{ end }}
                ]
            {{ end }}
        {{ end }}
        </span>
    </span>
</footer>
