<footer class="main-footer">
  <div class="container clearfix">
        <a class="icon-rss" href="{{ .Site.BaseURL }}/index.xml" title="RSS"></a>
        <p>&copy; {{ .Now.Format "2006" }} &middot; {{ .Site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- TODO MAKE IT LOCAL! -->
<script src="{{ .Site.BaseURL }}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/vendor/highlight-8.8.0.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>window.jQuery || document.write('<script src="{{ .Site.BaseURL }}/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="{{ .Site.BaseURL }}/js/plugins.js"></script>
<script>
window.onfocus = function() {
  $('.blink-on').show()
  $('.blink-off').hide()
};

window.onblur = function() {
  $('.blink-on').hide()
  $('.blink-off').show()
};
</script>
<script>
    var text = $('.title-text').text();

    var length = text.length;
    var timeOut;
    var character = 0;

    (function typeWriter() {
        timeOut = setTimeout(function() {
            character++;
            var type = text.substring(0, character);
            $('.title-text').text(type);
            typeWriter();

            if (character == length) {
                clearTimeout(timeOut);
            }

        }, 200);
    }());
</script>

{{ with .Site.Params.google_analytics }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
  var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{{ end }}
</body>
</html>
