<div class="pagination">
<nav>
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasPrev }}
	<a class="btn newer" href="{{ .Site.BaseURL}}{{.Paginator.Prev.URL}}" title="{{ .Site.Data.l10n.pagination.newer }}">&laquo; {{ .Site.Data.l10n.pagination.newer }}</a>
	{{ end }}
{{ end }}
	<p class="counter">{{ .Site.Data.l10n.pagination.page }} {{ .Paginator.PageNumber}} / {{.Paginator.TotalPages}}</p>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	{{ if .Paginator.HasNext }}
	<a class="btn older" href="{{ .Site.BaseURL}}{{.Paginator.Next.URL}}" title="{{ .Site.Data.l10n.pagination.older }}">{{ .Site.Data.l10n.pagination.older }} &raquo;</a>
	{{ end }}
{{ end }}
</nav>
</div>
