{{ partial "header" . }}
{{ partial "navigation" . }}

<div class="container clearfix">
    <main role="main" class="content">
        <article class="post"
                 style="background: no-repeat top right/128px url('{{ .Site.BaseURL }}{{ .Params.logo }}')">
            {{ partial "article-header" . }}
            {{ .Content}}
            {{ partial "article-share" . }}
        </article>
        <div class="comments">
            <h3>{{ .Site.Data.l10n.comments.comments }}</h3>
            {{ template "_internal/disqus.html" . }}
        </div>
    </main>
    {{ partial "author" . }}
</div>

{{ partial "footer" . }}
